[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastack = "*"
bs4 = "*"
httpx = "*"
redis = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3"
